@model SelectionCommittee.WEB.Models.DisplayHome

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Факультеты
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        @foreach (var faculty in Model.FacultiesDTO)
        {
            @Html.ActionLink(faculty.Name, "Faculty", new {id = faculty.Id}, new {@class="dropdown-item"})
        }
    </div>
</li>
