<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <style></style>
</head>
<body>
<div class="row">
    <nav class="col-2 flex-column nav-pills m-3 p-lg-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="faculties" data-toggle="pill" href="/Admin/Faculties" role="tab" aria-controls="faculties" aria-selected="true">Факультеты</a>
        <a class="nav-link" id="coefficientSetting" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="coefficientSetting" aria-selected="false">Настройка коэффициентов</a>
        <a role="button" href="/Account/Logout" class="btn btn-outline-danger" aria-pressed="true">Выйти</a>
    </nav>
    <main class="col m-2 p-lg-3">
        <div class="table-responsive-lg">
            @RenderBody()
        </div>
    </main>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
